.container {
  padding: 2rem;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.searchBar {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.searchBar input {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  flex: 1;
}

.searchBar button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #3b82f6;
  color: white;
  cursor: pointer;
}

.searchBar button:hover {
  background-color: #2563eb;
}

.pokemonCard {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: fit-content;
}
